# Lab Assignment 2 - Kate Peard

## 200005441

### https://github.com/KateElla/PY4SA23_Assignment

In [20]:
#Task 1

num = int(input("Your chosen number,")) #identifies that input is an integer
if num%3 == 0:
          print("is divisible by 3 :)")
else:
          print("is not divisble by 3 :(")

Your chosen number, 7941

is divisible by 3 :)

In [31]:
#Task 2
fruits = ["apple","orange","pear","kiwi","strawberry"] #defines list of acceptable fruit
frt = (input()) #identifies input as a string of text
if frt == fruits:
          print("is an acceptable fruit.")
else: 
        print("is not an acceptable fruit.")

 Guava

is not an acceptable fruit.

In [2]:

# Task 3

R = 6371.0    #mean radius of Earth in km

from math import sin, cos, sqrt, atan2, radians

print("      Coordinate 1:")
lat1, long1 = float(input("Latitude:")), float(input("Longitude:"))

print("      Coordinate 2:")
lat2, long2 = float(input("Latitude:")), float(input("Longitude:"))


dlong = radians(long2) - radians(long1) #distance between longitude 2 and longitude 1
dlat = radians(lat2) - radians(lat1) # distance between latitude 2 and latitude 1

dlong = radians(long2) - radians(long1) #distance between longitude 2 and longitude 1
dlat = radians(lat2) - radians(lat1) # distance between latitude 2 and latitude 1


a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlong / 2)**2
c = 2 * atan2(sqrt(a), sqrt(1 - a))

distance = c * R

print("The distance between these two points is", distance, "km.")

      Coordinate 1:

Latitude: 4
Longitude: 5

      Coordinate 2:

Latitude: 6
Longitude: 7

The distance between these two points is 135.70648790752847 km.

In [104]:
#Pandas and NumPy

In [6]:
import numpy as np
import pandas as pd


#read portland tree data as port_trees
port_trees = pd.read_csv("data/portland_park_trees.csv") 
#select required columns of tree data

trees = port_trees[["DBH", "Condition", "TreeHeight", "CrownWidth", "Family", "Genus", "Common_name", "Genus_spec", "Native"]]
trees.head()

,DBH,Condition,TreeHeight,CrownWidth,Family,Genus,Common_name,Genus_spec,Native
0,37.4,Fair,105.0,44.0,Pinaceae,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,Yes
1,32.5,Fair,94.0,49.0,Pinaceae,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,Yes
2,9.7,Fair,23.0,28.0,Rosaceae,Crataegus,Lavalle hawthorn,Crataegus x lavalleei,No
3,10.3,Poor,28.0,38.0,Fagaceae,Quercus,northern red oak,Quercus rubra,No
4,33.2,Fair,102.0,43.0,Pinaceae,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,Yes

In [7]:
#Question 1  
QAgenus = ['Quercus', 'Acer']    #a list denoting the required genera
trees['Genus'].isin(QAgenus).sum()      #query all values that appear in the list QAgenus


#there are 5675 trees with over 50 inch diameter at breast height

5675

Q1) There are 5675 trees with over 50 inch diameter at breast height

In [35]:
#Question 2
treeGenus = trees.query("Genus in @QAgenus")    #query all values of genus Quercus and Acer
QAdbh = treeGenus.query('DBH >50')    #query of all items that have DBH greater than 50 and genus Quercus or Acer
print(len(QAdbh))

124

Q2: 124 trees have a DBH greater than 50in.

In [37]:
#Question 3
QAgenus.append('Fraxinus')   #add Fraxinus to required genera list
treeGenus = trees.query("Genus in @QAgenus")   #update treeGenus query to include Fraxnius data
treeMean= treeGenus.groupby("Genus")['DBH'].mean()       #evaluate mean of the 3 genuses, grouped by DBH
    
print(treeMean)

Genus
Acer        18.419085
Fraxinus    11.033610
Quercus     23.568238
Name: DBH, dtype: float64

Q3: Quercus has the highest mean.

In [40]:
#Question 4
acer = trees.query('Genus == "Acer"')